---
ip: "192.168.15.10"
memory: 2048
cpus: 1
hostname: grp-space-laravel
name: grp-space-laravel
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "~/code/self/grp.space.laravel"
      to: "/home/vagrant/grp-space-laravel"

sites:
    - map: grp.space.dev
      to: "/home/vagrant/grp-space-laravel/public"

databases:
    - grpspace_dev
    - grpspace_testing
