@mixin alert-variant($color, $background, $border) {
    border : 1px solid $border;
    color  : $color;

    text-shadow : 0px -1px 0px $border;
    box-shadow : 1px 1px 1px transparentize($background, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5) inset;
    background : linear-gradient(
        to bottom,
        lighten($background, 5%),
        darken($background, 12%)
    );
}

.alert {
    display  : block;
    position : relative;
    margin   : 16px 0;
    padding  : 12px;
    overflow : hidden;

    border-radius : 2px;
    text-shadow   : 0px -1px 0px rgba(0, 0, 0, 0.15);

    @include alert-variant(
        $alert-default-font-col,
        $alert-default-background,
        $alert-default-border-col
    );
}

.alert-icon {
    font-size : 2em;
    float     : left;
}

.alert-body {
    padding   : 7px;
    float     : left;
    font-size : 14px;
}

.alert.alert-info {
    @include alert-variant(
        $alert-info-font-col,
        $alert-info-background,
        $alert-info-border-col
    );
}

.alert.alert-success {
    @include alert-variant(
        $alert-success-font-col,
        $alert-success-background,
        $alert-success-border-col
    );
}

.alert.alert-danger {
    @include alert-variant(
        $alert-danger-font-col,
        $alert-danger-background,
        $alert-danger-border-col
    );
}

.alert.alert-warning {
    @include alert-variant(
        $alert-warning-font-col,
        $alert-warning-background,
        $alert-warning-border-col
    );
}
