.login-body {
    width: 350px;
    margin: 0 auto;
}

.login-body > form {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #d8dee2;
}

.login-new {
    text-align: center;
    font-size: 13px;
    margin-top: 24px;
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #d8dee2;
}
