.btn {
    display : inline-block;

    font-family : $btn-font;
    font-size   : $btn-font-size;
    font-weight : $btn-font-weight;
    line-height : 1.42857143;

    border-radius : $btn-border-radius;

    display : inline-block;
    padding : $btn-padding;

    cursor : pointer;

    text-decoration : none;
    text-align      : center;
    white-space     : nowrap;
    vertical-align  : middle;

    touch-action : manipulation;
}

.btn-group.btn-group-xs > .btn,
.btn-xs {
    padding       : $btn-xs-padding;
    font-size     : $btn-xs-font-size;
    border-radius : $btn-xs-border-radius;
    line-height   : 1.5;
}

.btn-group.btn-group-sm > .btn,
.btn-sm {
    padding       : $btn-sm-padding;
    font-size     : $btn-sm-font-size;
    border-radius : $btn-sm-border-radius;
    line-height   : 1.5;
}

.btn-group.btn-group-lg > .btn,
.btn-lg {
    padding       : $btn-lg-padding;
    font-size     : $btn-lg-font-size;
    border-radius : $btn-lg-border-radius;
    line-height   : 1.333333;
}

.btn:focus,
.btn.btn-default:focus,
.btn.btn-primary:focus,
.btn.btn-info:focus,
.btn.btn-danger:focus,
.btn.btn-warning:focus {
    border-color : $focus-border-col;
    outline      : 0;
    box-shadow   : $focus-box-shadow;
}

.btn:active {
    top      : 1px;
    position : relative;
}

.btn.btn-block {
    display: block;
    width: 100%;
}

.btn.btn-default {
    @include button-variant($btn-default-font-col, $btn-default-background-col, $btn-default-border-col);
}

.btn.btn-info {
    @include button-variant($btn-info-font-col, $btn-info-background-col, $btn-info-border-col);
}

.btn.btn-danger {
    @include button-variant($btn-danger-font-col, $btn-danger-background-col, $btn-danger-border-col);
}

.btn.btn-warning {
    @include button-variant($btn-warning-font-col, $btn-warning-background-col, $btn-warning-border-col);
}

.btn.btn-primary {
    @include button-variant($btn-primary-font-col, $btn-primary-background-col, $btn-primary-border-col);
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-group > .btn {
    position: relative;
    float: left;
}

.btn-group.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    position: relative;
    vertical-align: middle;
}

.btn-group.btn-group-justified > .btn {
    display: table-cell;
    float: none;
    width: 1%;
}

.btn-group > .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-group > .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > .btn:first-child {
    margin-left: 0;
}

.btn-group > .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-left: -1px;
}
