.chat-messages {
    line-height: 2em;
    max-height: 300px;
    overflow-y: auto;
}

.chat-author {
    width: 80px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.chat-author:hover {
    color: #D26911;
}

.chat-pending {
    float: right;
    color: #eee;
}

.chat-message {
    display: block;
    line-height: 2em;

    @include clearfix();
}

.chat-timestamp {
    color: #eee;
    float: right;
}

.chat-message-text {
    display     : block;
    position    : relative;
    margin-left : 100px;
}

.chat-input {
    padding-top: 20px;
}
