.chat-messages {
    padding-bottom: 20px;
    line-height: 2em;
}

.chat-author {
    width: 80px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

.chat-author:hover {
    color: #D26911;
}

.chat-message {
    display: block;
    line-height: 2em;

    @include clearfix();
}

.chat-timestamp {
    color: #eee;
    float: right;
}

.chat-message-text::before {
    position: absolute;
    content: "·";
    color: #bbb;
    left: -1em;
    font-size: 1em;
}

.chat-message-text {
    display     : block;
    position    : relative;
    margin-left : 100px;
}
