$background: #fefefe;
$app-col-primary: #D87777;
$app-col-secondary: #FBE8A4;
$app-col-tertiary: #91C8E2;

$app-font-col: #333;

$app-footer-col: #ccc;

$nav-border: #e0e0e0;
$nav-border-style: solid;
$nav-background: #F5F5F5;
$nav-radius: 4px;

$body-fonts: 'Lato', sans-serif;
$header-fonts: 'Lato', Georgia, serif;
