.app-navigation > .container {
    padding: 6px 0;
}

.app-navigation {
    background-color: $app-header-col;
    font-family: $navigation-fonts;
}

.app-nav-logo {
    color: $app-header-font-col;
    font-size: 18px;
    line-height: 1.25em;
    padding: 8px 12px;
    margin-left: -12px;
}

.nav-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: -12px;
}

.nav-item {
    padding: 8px 12px;
    line-height: 1.5em;
    font-size: 15px;
    color: $app-header-font-col;;
    position: relative;
    float: left;
}

.page-header {
    padding: 20px 0;
    background-color: $page-header-col;
    // border-bottom: 1px solid #BDB5B5;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: inset 0px -1px 0px 0px #DAD4D1;
    // text-shadow: 0px 1px 0px rgba(255, 255, 255, .25);
    // box-shadow: 0px -5px 60px #D0D0D0 inset;
    // background: url('/images/patterns/green_gobbler.png');
    // background: url('/images/patterns/light_grey_floral_motif.png');
    // background: url('/images/patterns/washi.png');
    // background: url('/images/patterns/xv.png');
}

.page-header:after {
    content : "";
    display : table;
    clear   : both;
}

.page-title {
    margin: 0px;
    float: left;
    font-size: 18px;
    padding: 6px 0;
    line-height: 1em;
    font-weight: 600;
    color: $page-title-font-col;
}

.page-actions {
    float: right;
}

.page-lead {
    margin: 0;
    font-weight: 300;
    color: #555;
}
