.app-header > .container {
    padding: 8px 0;
}

.app-header {
    background-color: $app-header-col;
}

.app-header-logo {
    color: $app-header-font-col;
    font-size: 18px;
    line-height: 1.5em;
}
