* { box-sizing : border-box; }

html {
    color : #333;
    background  : none repeat scroll 0% 0% $background;
}

.app-stripe {
    display : block;
    width   : 100%;
    height  : 24px;

    border-top       : 8px solid $app-col-primary;
    background-color : $app-col-secondary;
    border-bottom    : 8px solid $app-col-tertiary;
}

.container-wrapper {
    display : block;
    width   : 100%;
}

.container {
    width        : 680px;
    margin-left  : auto;
    margin-right : auto;
}

.app-content {
    padding    : 20px 0px;
    min-height : 240px;
}

.app-footer {
    color       : $app-footer-col;
    font-size   : 13px;
    margin-top  : 40px;
}

.app-footer > .container {
    border-top  : $app-footer-border;
    padding     : 40px 0px;
}

.app-footer > a {
    color : $app-footer-col;
}

.clearfix:after {
    content : " ";
    display : table;
}

.clearfix:after {
    clear : both;
}

.center {
    text-align : center;
}
