.table {
    width : 100%;
}

.table thead {
    border-bottom: 1px solid #EAE9E8;
}

.table th {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.table th,
.table td {
    padding : 8px;
    text-align : left;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #FBFBFB;
}
